/* pour la connexion */

/* #fixed-tab-2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
} */
.demo-card-square.mdl-card {
  width: 30vw;
  height: auto;
}
.mdl-card__title {
  color: white !important;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
  width: 100%
}
.mdl-layout__header-row{
  display: flex;
  justify-content: space-between;
}
#login-google{
  color: white;
}
#show-dialog, #logout{
  color: white;
}

main, section{
  height: 100%;
}

.page-content{
  display: flex;
  height: 100%;
  width:100%;
  justify-content: center;
  align-items: center;
}
#user-container{
  display: flex;
  align-items: center;
}


#add_button{
  position: absolute;
  right: 10%;
  top: 10%;
}
#jobDialog{
  width: 30%;
}
#user-pic{
  display: flex;
  height: auto;
  margin-bottom: -20px;
}
#imgLog{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#updateInfo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#updateInfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#updateInfo input{
  width: 40%;
  margin-bottom: 5px;
}
